.images {
    border-radius: 50rem;
    // max-width:40vh;
    width: 50vw;
    height: 50vh;
    margin: 10px;
}

@media only screen and (max-width:500px) {
    .images {
        width: fit-content;
        height: fit-content;
    }
  }
  